.bg-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(#0b16a500,#010d29),linear-gradient(#00035f4f,#00035f4f);
}

.type-span {
  display: inline-block;
  white-space: nowrap; /* Prevent wrapping */
}
