.section-head.small-header.grade {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#fff, #c1d8ff);
  -webkit-background-clip: text;
  background-clip: text;
  width: auto;
  max-width: 95%;
}

.project-grid-card.gradient-background {
  opacity: 1;
  background-image: linear-gradient(135deg, #7c9bff, #475992);
  padding: 1px;
}