@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/projectsGrid/projectGrid.css";
@import "components/aboutMe/aboutMe.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.footer-line {
  background-image: linear-gradient(90deg, #38d3ff00, #fff3 50%, #38d3ff00);
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
}

.footer-overlay-component {
  background: #010d29;
  position: absolute;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

img, video {
  max-width: none!important;
}